<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<title>Second Hand</title>
</head>
<body>
	<nav class="sidebar" >
		<a class="bold" style="color: white; position: absolute; top: 20px; text-decoration: none; display: block;" href="../../marketplace">2nd Hand</a>
		<!-- <a href="../../add_item" class="sidebuttons" style="top: 80px; text-decoration: none; display: block; position: absolute;"><p style="margin-left: 30px; padding-top: 10px;">Add</p></a> -->
		<a href="../../add_item" class="sidebuttons" style="top: 80px; text-decoration: none;"><p style="margin-left: 30px; padding-top: 15px;">Add</p></a>
		<a href="../../mypostings" class="sidebuttons" style="top: 130px; text-decoration: none; display: block; position: absolute;"><p style="margin-left: 30px; padding-top: 10px;">My Postings</p></a>
		<a href="/" class="sidebuttons" style="bottom: 20px; position: absolute; display: block; text-decoration: none;"><p style="margin-left: 30px; padding-top: 15px;">Logout</p></a>
	</nav>
	<main>
		<h1 class="bold" style="text-align: center; margin-top: 20px;">{{ item.title }}</h1>
		<div style="height: 30px;"></div>
		<div style="display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap">
			{% for image in images%}
			<div style="width: 400px; height: 250px; background-image: url({{ image.image.url }}); background-size: cover; background-position: center;"></div>
			
		{% endfor %}
		</div>
		
		<p style="width: 75%; margin: auto; margin-top: 30px;"><strong>Location: </strong>{{ item.location }}<br><strong>Condition: </strong> {{ item.condition }}<br><strong>Posted by: </strong> {{ item.poster }}</p>
		<p style="width: 75%; margin: auto; margin-top: 30px;">{{ item.description }}</p>

		<div style="height: 50px;"></div>
	</main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>

<!-- <h1 class="bold">{{ item.title }}</h1>
		{% for image in images%}
			<img src="{{ image.image.url }}" width="70%" style="margin: auto; display: block;"/>
		{% endfor %}
		
		<p style="width: 80%;">{{ item.description }}</p> -->