<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../static/style.css">
	<title>Second Hand</title>
</head>
<body>
	<nav class="sidebar" >
		<h1 class="bold" style="color: white; position: absolute; top: 20px;">2nd Hand</h1>
		<button class="sidebuttons" style="top: 80px;"><p style="margin-left: 30px;">Add</p></button>
		<button class="sidebuttons" style="top: 130px;"><p style="margin-left: 30px;">Request</p></button>
		<button class="sidebuttons" style="bottom: 20px; position: absolute;"><p style="margin-left: 30px;">Logout</p></button>
	</nav>
	<main>
		<h1 class="bold" style="color: black; text-align: center; margin: auto; margin-top: 20px;">Browse Through the Items that are Available!</h1>
		<div class="itemslist">
			<div class="items">1</div>
			<div class="items">2</div>
			<div class="items">3</div>
			<div class="items">4</div>
			<div class="items">1</div>
			<div class="items">2</div>
			<div class="items">3</div>
			<div class="items">4</div>
			<div class="items">1</div>
			<div class="items">2</div>
			<div class="items">3</div>
			<div class="items">4</div>
		</div>
	</main>
</body>
</html>