<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../static/style.css">
	<title>Second Hand</title>
</head>
<body>
	<nav class="sidebar" >
		<h1 class="bold" style="color: white; position: absolute; top: 20px;">2nd Hand</h1>
		<a href="add_item" class="sidebuttons" style="top: 80px; text-decoration: none;"><p style="margin-left: 30px; padding-top: 15px;">Add</p></a>
		<button class="sidebuttons" style="top: 130px;"><p style="margin-left: 30px;">Request</p></button>
		<a href="/" class="sidebuttons" style="bottom: 20px; position: absolute; display: block; text-decoration: none;"><p style="margin-left: 30px; padding-top: 15px;">Logout</p></a>
	</nav>
	<main>
		<h1 class="bold" style="color: black; text-align: center; margin: auto; margin-top: 20px;">Browse Through the Items that are Available!</h1>
		<div class="itemslist">

			{% for i in db %}
				<p>{{ i.0.title }}</p>
				<img src="{{ i.1.image.url }}"/>
			{% endfor %}
			
		</div>
		<div style="height: 50px;"></div>
	</main>
</body>
</html>